@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply py-2 px-4 sm:px-8 md:py-4 md:px-8 lg:max-w-5xl xl:max-w-6xl lg:mx-auto;
}

#nprogress .bar {
  background: #ff006e !important;
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff006e, 0 0 5px #ff006e !important;
}

#nprogress .spinner-icon {
  border-top-color: #ff006e !important;
  border-left-color: #ff006e !important;
}
